<section class="admin-layout">
  <div class="nav-wrapper">
    <app-nav />
  </div>
  <div class="body-wrapper">
    <div class="header-wrapper"></div>
    <div class="main-wrapper">
      <button type="button" #showContent>Show content</button>

      @defer (on hover; on interaction(showContent)) {
      <router-outlet />
      } @placeholder (minimum 500ms;) {
      <p>Placeholder for content</p>
      } @loading (minimum 1s; after 500ms) {
      <p>Loading content...</p>
      } @error {
      <p>Failed to load content</p>
      }

    </div>
  </div>
</section>
