:root {
  --container-space-desktop: 36px;

  --black: #000;
  --slate-600: #475569;
}

body {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.admin-layout {
  display: flex;

  .nav-wrapper {
    border-right: hsl(var(--border)) solid 1px;
  }

  .body-wrapper {
    width: 100%;

    .header-wrapper {
      border-bottom: hsl(var(--border)) solid 1px;
      padding: 24px var(--container-space-desktop);
    }

    .main-wrapper {
      padding: 24px var(--container-space-desktop) 0;
    }
  }
}
