<div class="head2">
  <div class="search-wrapper">
    <div class="box-wrapper">
      <div class="icon"><img src="images/icons/search.svg" alt="search" /></div>
      <input type="search" name="" id="" placeholder="Seiten durchsuchen..." />
    </div>
    <div class="filter-wrapper">
      <div class="icon"><img src="images/icons/filter.svg" alt="filter" /></div>
      <div>Filtern</div>
    </div>
  </div>
  <div class="actions">
    <a class="btn-add" hlmBtn variant="destructive" routerLink="/admin/pages/create">
      <span class="icon"><img src="images/icons/plus.svg" alt="plus" /></span>
      <span>Neue Seite erstellen</span>
    </a>
  </div>
</div>

<div class="pages-body">
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <div class="pages-table" *ngIf="pages.length > 0; else noPages">
<!--    <div class="mb-3">-->
<!--      <p-button-->
<!--        type="button"-->
<!--        icon="pi pi-chevron-left"-->
<!--        (onClick)="prev()"-->
<!--        [disabled]="isFirstPage()"-->
<!--        styleClass="p-button-text" />-->
<!--      <p-button-->
<!--        type="button"-->
<!--        icon="pi pi-refresh"-->
<!--        (onClick)="reset()"-->
<!--        styleClass="p-button-text" />-->
<!--      <p-button-->
<!--        type="button"-->
<!--        icon="pi pi-chevron-right"-->
<!--        (onClick)="next()"-->
<!--        [disabled]="isLastPage()"-->
<!--        styleClass="p-button-text" />-->
<!--    </div>-->
    <p-table
      [value]="pages"
      [paginator]="true"
      [rows]=size
      [totalRecords]="totalRecords"
      [lazy]="true"
      [first]="first"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[7, 10, 15, 25, 50, 100]"
      [tableStyle]="{'min-width': '50rem'}"
      currentPageReportTemplate="Showing {{first + 1}} to {{last}} of {{totalRecords}} entries"
      (onPage)="pageChange($event)"
      (onLazyLoad)="loadPagesLazy($event)"
      styleClass="p-datatable-gridlines">

      <ng-template pTemplate="header">
        <tr>
          <th>Zuletzt geändert</th>
          <th>Name</th>
          <th>Slug</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-page>
        <tr>
          <td>{{page.created | date:'dd.MM.yyyy'}}</td>
          <td>{{page.name.value}}</td>
          <td><a [routerLink]="['/admin/pages/edit', page.id]">{{formatSlug(page.slug.value)}}</a></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
      </ng-template>
    </p-table>
  </div>

</div>

<ng-template #noPages>
  <p>No pages found.</p>
</ng-template>
