.head2 {
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-wrapper {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    gap: 36px;
    .box-wrapper {
      display: flex;
      align-items: center;
      flex: 1 0 0;
      gap: 8px;
      min-width: 350px;
      max-width: 504px;
      border-radius: 6px;
      border: 1px solid #cbd5e1;
      padding: 10px 8px;

      [type='search'] {
        outline: none;
        width: 100%;
        padding: 2px 0;
      }
    }
    .filter-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;
      .icon {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        border: 1px solid var(--slate-200, #e2e8f0);
        background: var(--white, #fff);
      }
    }
  }

  .actions {
    .btn-add {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.pages-body {
  margin-top: var(--container-space-desktop);
  margin-bottom: var(--container-space-desktop);

  .pages-table{
    border-radius: var(--radius-rounded-md);
    border: 1px solid var(--border-border-input);
    text-align: left;

    th{
      color: #64748B;
      font-weight: 500;
      padding: 8px;
      border-bottom: 1px solid var(--border-border-border, #E4E4E7);
    }

    td{
      padding: 8px;
      border-bottom: 1px solid var(--border-border-border, #E4E4E7);

      &.status {
        display: flex;
      }
    }
  }
}
